<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/madlib" method="post">
    <label for="input1">Input1</label>
    <input id ="input1" type="text" name="input1">
    <label for="input1">Input2</label>
    <input id ="input2" type="text" name="input2">
     <label for="input3">Input3</label>
    <input id ="input3" type="text" name="input3">
    <button type ="submit">Hit Enter</button>
  </form>
</body>
</html>